html,
body,
#app {
	height: 100%;
}

body {
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
                "Noto Sans CJK SC", Arial, sans-serif;

        color: #1F2937;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
